*.bmp
*.dill
*.dxf
*.eps
*.gcode
*.pdf
*.pgm
*.pickle
*.pyc
*.stl
*.ttf
*.txt
*.zip
*egg-info*
.*.sw?
.*DS*
._*
build
build/
dist/
env
env/
ez_setup.py
media/snowflake_laser.mov
sctk.egg-info/
snowflakes.html
src/etc
tags
tarpit/
web
