*.svg
*.bmp
*.png
*.pickle
*.eps
*.gcode
*.stl
*.dxf
*.pgm
*.pyc
*.dill
snowflakes.html
ez_setup.py
build/
dist/
env/
sctk.egg-info/
tarpit/
tags
.*DS*
._*
*egg-info*
.*.sw?
src/etc
*.ttf
*.zip
*.pdf
web
*.txt
